@page
@model dental_clinic.Pages.Instructions

@{
    Layout = "Shared/_Layout";
}

<!DOCTYPE html>

<html>
<head>
    <title>Instructions</title>
</head>
<body style="background-color: #fcf8e3">
<div class="container justify-content-center">
    <div class="container">
    <h3>STEPS FOR BRUSHING YOUR TEETH PROPERLY:</h3>
        <p>
            After applying toothpaste to your toothbrush, point your bristles at a 45° angle to your gumline. Why?
            The angle helps bristles gently reach and clean areas of your teeth usually covered by your gums.
            A flatter angle won’t reach as far down your teeth,
            and a steeper angle means your bristles will poke and irritate your gums unnecessarily.
        </p>
        <p>
            There are many different methods for brushing your teeth.
            Ask your dentist or dental hygienist for which brushing method is best for you. 
            You should also ask which type of toothbrush, manual or electric, is best for your needs.
        </p>
        <p>
            When it comes to brushing your teeth, two minutes is the magic number,
            but it's not always about how long you brush, but how well you brush.
            And if you brush willy-nilly, you might miss a spot. Break those two minutes into 30-second blocks and focus on one of the four corners of your mouth: 
            top left, top right, bottom left, and bottom right. Don't forget the inside, outside, and tops of your teeth. 
            Need inspiration or a timer?
            Play your favorite two-minute jam and don’t stop cleaning your teeth until it ends.
        </p>
        </div>


</div>
</body>
</html>