@page
@model dental_clinic.Pages.result_page

@{
    Layout = null;
}

<!DOCTYPE html>

<html lang="en">
<head>
    <title>Results</title>
</head>
<body>
<table class="table table-striped">
    <thead>
    <tr>
        <th>Dentist name</th>
        <th>Email</th>
    </tr>
    </thead>
    <tbody>
    @for(int i=0;i<@Model.dt.Rows.Count;i++)
    {
        <tr>
            <th scope="row">@i</th>
            @for (int j = 0; j < @Model.dt.Columns.Count; j++)
            {
                <td>@Model.dt.Rows[i][j]</td>
            }
            <td><input type="number" max="5" name="rate"/></td>
        </tr>
    }
    </tbody>
</table>
</body>
</html>
