@page
@model dental_clinic.Pages.temp

@{
    Layout = null;
}

<!DOCTYPE html>

<html lang="en">
<head>
    <title>Temp page</title>
</head>
<body>
<div>
    <p>My team member's Screen</p>
</div>
</body>
</html>